    <div class="button-container">
        <button class="block" mat-stroked-button color="accent">Add new iPhone</button>
    </div>

    <mat-grid-list cols="3" rowHeight="1:1">
        <mat-grid-tile>

        <mat-card class="example-card">
            <!-- <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header> -->
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                   
                </p>
            </mat-card-content>
            <mat-divider inset></mat-divider>
            <mat-card-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
                <h3>200 $</h3>
                <span class="example-spacer"></span>
                <button mat-icon-button
                    matTooltip="Add to cart"
                    matTooltipPosition="below"
                >
                <mat-icon class="add">
                    add_shopping_cart
                </mat-icon>
            </button>
            <button mat-icon-button
                matTooltip="Details"
                matTooltipPosition="below"
            >
                <mat-icon>
                    info
                </mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
    
    
</mat-grid-tile>
<mat-grid-tile>2</mat-grid-tile>
<mat-grid-tile>3</mat-grid-tile>
<mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>





  