<div fxLayoutAlign="center center">
  <mat-card class="example-card">
    <form [formGroup]="form" (submit)="id ? onUpdate() : onSubmit()">
      <mat-grid-list cols="3" rowHeight="50px">
        <mat-grid-tile [colspan]="3">
          <h1>
            <span *ngIf="id">Edit</span><span *ngIf="!this.id">Add</span>
            {{ product }}
          </h1>
        </mat-grid-tile>
        <mat-grid-tile [rowspan]="2">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input formControlName="name" matInput required type="text" />
            <mat-icon matSuffix>phone_iphone</mat-icon>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="product === 'iPhones'" [rowspan]="2">
          <mat-form-field appearance="outline">
            <mat-label>Model</mat-label>
            <input formControlName="model" matInput required type="text" />
            <mat-icon matSuffix>smartphone</mat-icon>
          </mat-form-field>
        </mat-grid-tile>
        <ng-container *ngIf="productsState | async as productsState">
          <mat-grid-tile [rowspan]="2" *ngIf="product === 'Offers'">
            <mat-form-field appearance="outline">
              <mat-label>iPhone</mat-label>
              <!-- <mat-select *ngIf="id" [(ngModel)]="selectediphone['id']" formControlName="iphone" matInput required>
                <mat-option *ngFor="let iphone of productsState.iphones" [value]="iphone.id">
                  {{ iphone.name }}
                </mat-option>
              </mat-select> -->
              <mat-select *ngIf="!id"  [(ngModel)]="selectediphone" formControlName="iphone" matInput required>
                <mat-option *ngFor="let iphone of productsState.iphones" [value]="iphone">
                  {{ iphone.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [rowspan]="2" *ngIf="product === 'Offers'">
            <mat-form-field appearance="outline">
              <mat-label>Accessoir</mat-label>
              <mat-select *ngIf="id" [(ngModel)]="selectedaccessoir" formControlName="accessoir" matInput required>
                <!-- <mat-option *ngFor="let accessoir of productsState.accessoirs" [value]="accessoir.id">
                  {{ accessoir.name }}
                </mat-option> -->
              </mat-select>
              <mat-select *ngIf="!id"  [(ngModel)]="selectedaccessoir" formControlName="accessoir" matInput required>
                <mat-option *ngFor="let accessoir of productsState.accessoirs" [value]="accessoir">
                  {{ accessoir.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
        </ng-container>
        <mat-grid-tile [rowspan]="2">
          <mat-form-field *ngIf="product != 'Offers'" appearance="outline">
            <mat-label>Price</mat-label>
            <input formControlName="price" matInput required type="number" />
            <mat-icon matSuffix>attach_money</mat-icon>
            <!-- <mat-hint *ngIf="product=='Offers'">Price without Offer is {{selectedaccessoir['id']}}</mat-hint> -->
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [rowspan]="2" *ngIf="product === 'iPhones' || product === 'Accessoirs'">
          <mat-form-field appearance="outline">
            <mat-label>ImageSource</mat-label>
            <input formControlName="imagesource" matInput required type="text" />
            <mat-icon matSuffix>image</mat-icon>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [rowspan]="2" *ngIf="product === 'iPhones'">
          <mat-form-field appearance="outline">
            <mat-label>Colour</mat-label>
            <input formControlName="color" matInput required type="text" />
            <mat-icon matSuffix>color_lens</mat-icon>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [rowspan]="2" *ngIf="product === 'iPhones'">
          <mat-form-field appearance="outline">
            <mat-label>Screen Size</mat-label>
            <input formControlName="screensize" matInput required type="number" />
            <mat-icon matSuffix>format_size</mat-icon>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="product === 'iPhones'"></mat-grid-tile>
        <mat-grid-tile [rowspan]="2" *ngIf="product === 'iPhones'">
          <mat-form-field appearance="outline">
            <mat-label>SKU</mat-label>
            <input formControlName="sku" matInput required type="text" />
            <mat-icon matSuffix>explicit</mat-icon>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="3" [rowspan]="4" *ngIf="product === 'iPhones' || product === 'Accessoirs'">
          <mat-form-field class="description" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea rows="5" style="resize: none" formControlName="description" matInput required></textarea>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="3" [rowspan]="1">
          <button *ngIf="!id" type="submit" mat-raised-button color="accent">
            Add {{ product }}
          </button>
          <button *ngIf="id" type="submit" mat-raised-button color="accent">
            Update {{ product }}
          </button>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="id" [colspan]="3">
          <button (click)="onDelete()" type="button" mat-raised-button color="warn">
            Delete {{ product }}
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </mat-card>
</div>
