section{
    min-height: 88.1%;
    background-image: url("https://www.itl.cat/pngfile/big/126-1262317_colorful-smoke-4k-wallpapers-humo-de-colores-4k.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top:50px ;
}
