
    <div *ngIf="from==='iphonemanager' || from==='accessoirmanager'" class="button-container">
        <button class="block" mat-stroked-button color="accent" [routerLink]="['add',{product: product}]">Add new {{product}}</button>
    </div>
    
    <mat-grid-list cols="4" rowHeight="1:1">
        <mat-grid-tile *ngFor="let element of fetchedProducts">
            <mat-card class="example-card" >
                <img mat-card-image src="{{element.imagesource}}" alt="{{element.name}}">
                <mat-card-actions>
                    <h3 style="padding-left:10px">{{element.name | textslice:35}}</h3>
                    <h2 style="padding-left:10px">{{element.price}} $</h2>
                    <button *ngIf="!managing" class="addCart" mat-stroked-button color="warn">Add to Cart</button>
                    <button *ngIf="managing" class="addCart" mat-stroked-button color="warn" [routerLink]="['update',{product:product,id:element.id}]">Edit {{product}}</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
